{% extends "base.html.twig" %}

{% block title %}
	Klakier's AllegroApp - Add Product
{% endblock %}

{% block body %}

	<div class="bd-title h2 m-2">
		Add Product
	</div>

	{% for message in app.flashes('success') %}
		<div class="alert alert-warning mt-3">
			{{ message }}
		</div>
	{% endfor %}

	<div>
		{{ form(formProduct) }}
		</div>
	{% endblock %}
